In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('cardio dataset.csv')

In [2]:
data.describe()

,id,age,height,weight,ap_hi,ap_lo,cardio
count,70014.000000,70014.000000,70014.000000,70014.000000,70014.000000,70014.000000,70014.000000
mean,49963.108621,19468.851501,164.358285,74.205677,128.816180,96.626703,0.499686
std,28855.949145,2467.272189,8.210195,14.396019,153.996321,188.453930,0.500003
min,0.000000,10798.000000,55.000000,10.000000,-150.000000,-70.000000,0.000000
25%,24991.500000,17664.000000,159.000000,65.000000,120.000000,80.000000,0.000000
50%,49988.500000,19703.000000,165.000000,72.000000,120.000000,80.000000,0.000000
75%,74880.750000,21327.000000,170.000000,82.000000,140.000000,90.000000,1.000000
max,99999.000000,23713.000000,250.000000,200.000000,16020.000000,11000.000000,1.000000

In [3]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,Male,168,62.0,110,80,Normal,Normal,No,No,Yes,0
1,1,20228,Female,156,85.0,140,90,Well Above Normal,Normal,No,No,Yes,1
2,2,18857,Female,165,64.0,130,70,Well Above Normal,Normal,No,No,No,1
3,3,17623,Male,169,82.0,150,100,Normal,Normal,No,No,Yes,1
4,4,17474,Female,156,56.0,100,60,Normal,Normal,No,No,No,0

In [4]:
data.isna().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [5]:
print(data.duplicated().sum())

23

In [6]:
data.shape

(70014, 13)

In [7]:
data.drop_duplicates(keep='last')

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,Male,168,62.0,110,80,Normal,Normal,No,No,Yes,0
1,1,20228,Female,156,85.0,140,90,Well Above Normal,Normal,No,No,Yes,1
2,2,18857,Female,165,64.0,130,70,Well Above Normal,Normal,No,No,No,1
3,3,17623,Male,169,82.0,150,100,Normal,Normal,No,No,Yes,1
4,4,17474,Female,156,56.0,100,60,Normal,Normal,No,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70009,99993,19240,Male,168,76.0,120,80,Normal,Normal,Yes,No,Yes,0
70010,99995,22601,Female,158,126.0,140,90,Above Normal,Above Normal,No,No,Yes,1
70011,99996,19066,Male,183,105.0,180,90,Well Above Normal,Normal,No,Yes,No,1
70012,99998,22431,Female,163,72.0,135,80,Normal,Above Normal,No,No,No,1
70013,99999,20540,Female,170,72.0,120,80,Above Normal,Normal,No,No,Yes,0

In [8]:
data['age'] = data['age']/365.00

In [9]:
for x in ['ap_hi']:
    q75,q25 = np.percentile(data.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
 
    data.loc[data[x] < min,x] = np.nan
    data.loc[data[x] > max,x] = np.nan

In [10]:
data.isna().sum()

id                0
age               0
gender            0
height            0
weight            0
ap_hi          1435
ap_lo             0
cholesterol       0
gluc              0
smoke             0
alco              0
active            0
cardio            0
dtype: int64

In [11]:
for x in ['ap_lo']:
    q75,q25 = np.percentile(data.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
 
    data.loc[data[x] < min,x] = np.nan
    data.loc[data[x] > max,x] = np.nan

In [12]:
data.isna().sum()

id                0
age               0
gender            0
height            0
weight            0
ap_hi          1435
ap_lo          4634
cholesterol       0
gluc              0
smoke             0
alco              0
active            0
cardio            0
dtype: int64

In [13]:
for x in ['height']:
    q75,q25 = np.percentile(data.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
 
    data.loc[data[x] < min,x] = np.nan
    data.loc[data[x] > max,x] = np.nan

In [14]:
data.isna().sum()

id                0
age               0
gender            0
height          519
weight            0
ap_hi          1435
ap_lo          4634
cholesterol       0
gluc              0
smoke             0
alco              0
active            0
cardio            0
dtype: int64

In [15]:
for x in ['weight']:
    q75,q25 = np.percentile(data.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
 
    data.loc[data[x] < min,x] = np.nan
    data.loc[data[x] > max,x] = np.nan

In [16]:
data.isna().sum()

id                0
age               0
gender            0
height          519
weight         1820
ap_hi          1435
ap_lo          4634
cholesterol       0
gluc              0
smoke             0
alco              0
active            0
cardio            0
dtype: int64

In [17]:
data.dropna(inplace=True)

In [18]:
data.isna().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [19]:
data[data['ap_hi']<data['ap_lo']]
data=data[~(data['ap_hi']<data['ap_lo'])]

In [20]:
data=data.drop("id", axis=1)

In [21]:
data['BMI']=round(data['weight']/((data['height']/100)**2),2)

In [22]:
data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,50.391781,Male,168.0,62.0,110.0,80.0,Normal,Normal,No,No,Yes,0,21.97
1,55.419178,Female,156.0,85.0,140.0,90.0,Well Above Normal,Normal,No,No,Yes,1,34.93
2,51.663014,Female,165.0,64.0,130.0,70.0,Well Above Normal,Normal,No,No,No,1,23.51
3,48.282192,Male,169.0,82.0,150.0,100.0,Normal,Normal,No,No,Yes,1,28.71
5,60.038356,Female,151.0,67.0,120.0,80.0,Above Normal,Above Normal,No,No,No,0,29.38

In [23]:
data_new = pd.get_dummies(data, columns=['cholesterol', 'gluc', 'gender', 'smoke', 'alco', 'active'])
#data = data.drop(["cholesterol_Well Above Normal","gluc_Well Above Normal"], axis=1)
data_new.head()

,age,height,weight,ap_hi,ap_lo,cardio,BMI,cholesterol_Above Normal,cholesterol_Normal,cholesterol_Well Above Normal,...,gluc_Normal,gluc_Well Above Normal,gender_Female,gender_Male,smoke_No,smoke_Yes,alco_No,alco_Yes,active_No,active_Yes
0,50.391781,168.0,62.0,110.0,80.0,0,21.97,0,1,0,...,1,0,0,1,1,0,1,0,0,1
1,55.419178,156.0,85.0,140.0,90.0,1,34.93,0,0,1,...,1,0,1,0,1,0,1,0,0,1
2,51.663014,165.0,64.0,130.0,70.0,1,23.51,0,0,1,...,1,0,1,0,1,0,1,0,1,0
3,48.282192,169.0,82.0,150.0,100.0,1,28.71,0,1,0,...,1,0,0,1,1,0,1,0,0,1
5,60.038356,151.0,67.0,120.0,80.0,0,29.38,1,0,0,...,0,0,1,0,1,0,1,0,1,0

In [24]:
#data = data.reindex(columns=['age', 'gender', 'height','weight', 'ap_hi', 'ap_lo', 'smoke', 'alco','active' ,'cholesterol_Above Normal', 'cholesterol_Normal',  'gluc_Above Normal',  'gluc_Normal', 'BMI',  'cardio'])
data_new

,age,height,weight,ap_hi,ap_lo,cardio,BMI,cholesterol_Above Normal,cholesterol_Normal,cholesterol_Well Above Normal,...,gluc_Normal,gluc_Well Above Normal,gender_Female,gender_Male,smoke_No,smoke_Yes,alco_No,alco_Yes,active_No,active_Yes
0,50.391781,168.0,62.0,110.0,80.0,0,21.97,0,1,0,...,1,0,0,1,1,0,1,0,0,1
1,55.419178,156.0,85.0,140.0,90.0,1,34.93,0,0,1,...,1,0,1,0,1,0,1,0,0,1
2,51.663014,165.0,64.0,130.0,70.0,1,23.51,0,0,1,...,1,0,1,0,1,0,1,0,1,0
3,48.282192,169.0,82.0,150.0,100.0,1,28.71,0,1,0,...,1,0,0,1,1,0,1,0,0,1
5,60.038356,151.0,67.0,120.0,80.0,0,29.38,1,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70007,53.969863,172.0,70.0,130.0,90.0,1,23.66,0,1,0,...,1,0,1,0,1,0,1,0,0,1
70008,57.736986,165.0,80.0,150.0,80.0,1,29.38,0,1,0,...,1,0,1,0,1,0,1,0,0,1
70009,52.712329,168.0,76.0,120.0,80.0,0,26.93,0,1,0,...,1,0,0,1,0,1,1,0,0,1
70012,61.454795,163.0,72.0,135.0,80.0,1,27.10,0,1,0,...,0,0,1,0,1,0,1,0,1,0
70013,56.273973,170.0,72.0,120.0,80.0,0,24.91,1,0,0,...,1,0,1,0,1,0,1,0,0,1

In [26]:
y = data_new['cardio']
X = data_new.drop('cardio', axis=1)

In [27]:
X.shape, y.shape

((62514, 20), (62514,))

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(50011, 20) (12503, 20) (50011,) (12503,)

# Logistic Regression

In [29]:
import statsmodels.api as sm
Xlog2 = sm.add_constant(X) 
logit_model=sm.Logit(y,Xlog2)
result=logit_model.fit_regularized()
print(result.summary())

Optimization terminated successfully    (Exit mode 0)
            Current function value: 0.5616861619561678
            Iterations: 105
            Function evaluations: 115
            Gradient evaluations: 105
                           Logit Regression Results
==============================================================================
Dep. Variable:                 cardio   No. Observations:                62514
Model:                          Logit   Df Residuals:                    62493
Method:                           MLE   Df Model:                           20
Date:                Tue, 17 May 2022   Pseudo R-squ.:                  0.1896
Time:                        20:46:01   Log-Likelihood:                -35113.
converged:                       True   LL-Null:                       -43327.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                            -4.8157        nan        nan        nan         nan         nan
age                               0.0512      0.001     35.977      0.000       0.048       0.054
height                           -0.0104      0.008     -1.322      0.186      -0.026       0.005
weight                            0.0189      0.009      2.155      0.031       0.002       0.036
ap_hi                             0.0622      0.001     59.387      0.000       0.060       0.064
ap_lo                             0.0151      0.002      8.567      0.000       0.012       0.019
BMI                              -0.0187      0.023     -0.806      0.420      -0.064       0.027
cholesterol_Above Normal         -0.4262        nan        nan        nan         nan         nan
cholesterol_Normal               -0.7896        nan        nan        nan         nan         nan
cholesterol_Well Above Normal     0.3019        nan        nan        nan         nan         nan
gluc_Above Normal                -0.5926   1.38e+06  -4.28e-07      1.000   -2.71e+06    2.71e+06
gluc_Normal                      -0.5976   8.96e+05  -6.67e-07      1.000   -1.76e+06    1.76e+06
gluc_Well Above Normal           -0.9207   1.22e+06  -7.52e-07      1.000    -2.4e+06     2.4e+06
gender_Female                    -0.5069        nan        nan        nan         nan         nan
gender_Male                      -0.5357        nan        nan        nan         nan         nan
smoke_No                         -0.4779   1.97e+06  -2.43e-07      1.000   -3.85e+06    3.85e+06
smoke_Yes                        -0.6391   1.84e+06  -3.48e-07      1.000    -3.6e+06     3.6e+06
alco_No                          -1.4179        nan        nan        nan         nan         nan
alco_Yes                         -1.6396        nan        nan        nan         nan         nan
active_No                        -2.2845        nan        nan        nan         nan         nan
active_Yes                       -2.5216        nan        nan        nan         nan         nan
=================================================================================================

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.72

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[4968 1333]
 [2184 4018]]

# Decision Tree

In [33]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
pred = model.predict(X_test)

In [34]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.63      0.64      0.63      6301
           1       0.63      0.62      0.62      6202

    accuracy                           0.63     12503
   macro avg       0.63      0.63      0.63     12503
weighted avg       0.63      0.63      0.63     12503

In [35]:
import sklearn.metrics as metrics
print(metrics.accuracy_score(y_test, pred))

0.6296088938654723

In [36]:
df = pd.DataFrame({'Feature Names':X.columns, 'Importances':model.feature_importances_})
df.sort_values("Importances", ascending=False)

                    Feature Names  Importances
0                             age     0.291704
3                           ap_hi     0.218277
5                             BMI     0.164366
2                          weight     0.094193
1                          height     0.092246
4                           ap_lo     0.031670
8   cholesterol_Well Above Normal     0.022044
12                  gender_Female     0.012100
13                    gender_Male     0.010422
10                    gluc_Normal     0.007789
7              cholesterol_Normal     0.006850
19                     active_Yes     0.006725
9               gluc_Above Normal     0.006141
18                      active_No     0.006137
11         gluc_Well Above Normal     0.006047
6        cholesterol_Above Normal     0.005708
14                       smoke_No     0.005501
15                      smoke_Yes     0.004705
16                        alco_No     0.004162
17                       alco_Yes     0.003214

In [37]:
# List of values to try for max_depth:
max_depth_range = list(range(1, 20))
# List to store the accuracy for each value of max_depth:
accuracy = []
for depth in max_depth_range:
    
    clf = DecisionTreeClassifier(max_depth = depth, 
                             random_state = 0)
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    accuracy.append(score)

accuracy

[0.7061505238742701,
 0.7061505238742701,
 0.716867951691594,
 0.7224666080140766,
 0.7252659361753179,
 0.7239062624970007,
 0.7253459169799248,
 0.7241462049108214,
 0.7207870111173318,
 0.7191074142205871,
 0.7184675677837319,
 0.7143885467487803,
 0.7083100055986563,
 0.7059905622650564,
 0.70023194433336,
 0.6957530192753739,
 0.6916739982404223,
 0.6851955530672639,
 0.6811165320323123]

In [38]:
param_dist = {
    "criterion": ["gini", "entropy"],
    "max_depth": [1,2,3,4,5,6,7,8,9,10,11,12,None]
}

#parameter tuning using grid search cv
from sklearn.model_selection import GridSearchCV
model_dt = GridSearchCV(model, param_grid=param_dist, cv=10, n_jobs=-1)

model_dt.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                       None]})

In [39]:
model_dt.best_params_

{'criterion': 'entropy', 'max_depth': 6}

In [40]:
model_dt.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=6)

In [44]:
from sklearn.tree import DecisionTreeClassifier
model_dtf = DecisionTreeClassifier(criterion='entropy', max_depth=6)
model_dtf.fit(X_train, y_train)
pred1 = model_dtf.predict(X_test)

print(metrics.accuracy_score(y_test, pred1))

0.7244661281292489

In [45]:
print(classification_report(y_test, pred1))

              precision    recall  f1-score   support

           0       0.70      0.80      0.74      6301
           1       0.76      0.65      0.70      6202

    accuracy                           0.72     12503
   macro avg       0.73      0.72      0.72     12503
weighted avg       0.73      0.72      0.72     12503

In [46]:
df_dt = pd.DataFrame({'Feature Names':X.columns, 'Importances':model_dtf.feature_importances_})
df_dt.sort_values("Importances", ascending=False)

                    Feature Names  Importances
3                           ap_hi     0.741435
0                             age     0.135850
8   cholesterol_Well Above Normal     0.074562
5                             BMI     0.012955
11         gluc_Well Above Normal     0.005351
4                           ap_lo     0.004773
7              cholesterol_Normal     0.004677
19                     active_Yes     0.004656
6        cholesterol_Above Normal     0.004230
1                          height     0.003834
2                          weight     0.003460
17                       alco_Yes     0.001720
14                       smoke_No     0.001124
10                    gluc_Normal     0.000814
15                      smoke_Yes     0.000559
9               gluc_Above Normal     0.000000
12                  gender_Female     0.000000
13                    gender_Male     0.000000
16                        alco_No     0.000000
18                      active_No     0.000000

# Random Forest

In [47]:
# importing random forest classifier from assemble module
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
model2 = RandomForestClassifier() 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
model2.fit(X_train, y_train)
 
# performing predictions on the test dataset
y_pred = model2.predict(X_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.7035911381268496

In [48]:
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.70      0.72      0.71      6301
           1       0.71      0.68      0.70      6202

    accuracy                           0.70     12503
   macro avg       0.70      0.70      0.70     12503
weighted avg       0.70      0.70      0.70     12503

[[4555 1746]
 [1960 4242]]

In [49]:
df2 = pd.DataFrame({'Feature Names':X.columns, 'Importances':model2.feature_importances_})
df2.sort_values("Importances", ascending=False)

                    Feature Names  Importances
0                             age     0.270707
5                             BMI     0.162110
3                           ap_hi     0.158302
2                          weight     0.118945
1                          height     0.115204
4                           ap_lo     0.079405
7              cholesterol_Normal     0.017679
8   cholesterol_Well Above Normal     0.015249
12                  gender_Female     0.007155
13                    gender_Male     0.007005
10                    gluc_Normal     0.006582
19                     active_Yes     0.005679
6        cholesterol_Above Normal     0.005538
18                      active_No     0.005505
9               gluc_Above Normal     0.004702
11         gluc_Well Above Normal     0.004637
14                       smoke_No     0.004149
15                      smoke_Yes     0.004071
17                       alco_Yes     0.003740
16                        alco_No     0.003636

In [50]:
#randomized search cv for random forest

In [51]:
n_estimators_list = list(range(10,220,50))
criterion_list = ['gini', 'entropy']
max_depth_list = list(range(5,41,10))
max_depth_list.append(None)
min_samples_split_list = [x/1000 for x in list(range(5, 41, 10))]
min_samples_leaf_list = [x/1000 for x in list(range(5, 41, 10))]
max_features_list = ['sqrt', 'log2']

params_grid = {
    'n_estimators': n_estimators_list,
    'criterion': criterion_list,
    'max_depth': max_depth_list,
    'min_samples_split': min_samples_split_list,
    'min_samples_leaf': min_samples_leaf_list,
    'max_features': max_features_list
}

num_combinations = 1
for k in params_grid.keys(): num_combinations *= len(params_grid[k])

print('Number of combinations = ', num_combinations)
params_grid

Number of combinations =  1600

{'n_estimators': [10, 60, 110, 160, 210],
 'criterion': ['gini', 'entropy'],
 'max_depth': [5, 15, 25, 35, None],
 'min_samples_split': [0.005, 0.015, 0.025, 0.035],
 'min_samples_leaf': [0.005, 0.015, 0.025, 0.035],
 'max_features': ['sqrt', 'log2']}

In [52]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

model_rf = RandomizedSearchCV(estimator=RandomForestClassifier(class_weight='balanced'),
                              param_distributions=params_grid,
                              n_iter=50,
                              cv=3,
                              return_train_score=True,
                              verbose=2)

model_rf.fit(X_train,y_train)

Fitting 3 folds for each of 50 candidates, totalling 150 fits
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=160; total time=   1.5s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=160; total time=   1.4s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=160; total time=   1.4s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.035, n_estimators=110; total time=   1.2s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.035, n_estimators=110; total time=   1.2s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.035, n_estimators=110; total time=   1.2s
[CV] END criterion=entropy, max_depth=5, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=210; total time=   2.1s
[CV] END criterion=entropy, max_depth=5, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=210; total time=   2.1s
[CV] END criterion=entropy, max_depth=5, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=210; total time=   2.1s
[CV] END criterion=entropy, max_depth=15, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.5s
[CV] END criterion=entropy, max_depth=15, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.5s
[CV] END criterion=entropy, max_depth=15, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=60; total time=   0.5s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=10; total time=   0.0s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=10; total time=   0.0s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.005, n_estimators=160; total time=   1.7s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.005, n_estimators=160; total time=   1.7s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.005, n_estimators=160; total time=   1.7s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=160; total time=   1.5s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=160; total time=   1.5s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=160; total time=   1.5s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=160; total time=   1.3s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=160; total time=   1.6s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=160; total time=   1.5s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=110; total time=   1.2s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=110; total time=   1.1s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=110; total time=   1.0s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=60; total time=   0.7s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=60; total time=   0.7s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=60; total time=   0.7s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=210; total time=   2.8s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=210; total time=   2.3s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=210; total time=   2.4s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=210; total time=   2.9s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=210; total time=   3.0s
[CV] END criterion=entropy, max_depth=35, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=210; total time=   3.1s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=60; total time=   0.4s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=60; total time=   0.5s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=210; total time=   1.9s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=210; total time=   1.9s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=210; total time=   1.9s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=160; total time=   1.9s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=160; total time=   1.9s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=160; total time=   1.9s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=60; total time=   0.6s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=160; total time=   1.4s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=160; total time=   1.3s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=160; total time=   1.4s
[CV] END criterion=gini, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.1s
[CV] END criterion=gini, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.0s

[CV] END criterion=gini, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.0s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.0s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.1s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.1s
[CV] END criterion=entropy, max_depth=25, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=25, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=25, max_features=log2, min_samples_leaf=0.015, min_samples_split=0.025, n_estimators=60; total time=   0.7s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=60; total time=   0.6s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=60; total time=   0.6s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=60; total time=   0.6s
[CV] END criterion=gini, max_depth=5, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=5, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.0s
[CV] END criterion=gini, max_depth=5, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=110; total time=   1.1s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=210; total time=   3.0s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=210; total time=   2.9s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=210; total time=   2.7s
[CV] END criterion=gini, max_depth=35, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=110; total time=   1.1s
[CV] END criterion=gini, max_depth=35, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=110; total time=   1.1s
[CV] END criterion=gini, max_depth=35, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=110; total time=   1.1s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=110; total time=   1.1s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=110; total time=   1.0s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=110; total time=   1.0s
[CV] END criterion=gini, max_depth=25, max_features=log2, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=210; total time=   2.9s
[CV] END criterion=gini, max_depth=25, max_features=log2, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=210; total time=   2.7s
[CV] END criterion=gini, max_depth=25, max_features=log2, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=210; total time=   2.7s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=5, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=5, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=5, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=10; total time=   0.0s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.035, n_estimators=210; total time=   2.1s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.035, n_estimators=210; total time=   2.1s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.035, n_estimators=210; total time=   2.0s
[CV] END criterion=gini, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=10; total time=   0.0s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=210; total time=   2.0s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=210; total time=   2.0s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.035, n_estimators=210; total time=   2.0s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=210; total time=   2.7s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=210; total time=   2.6s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.005, min_samples_split=0.025, n_estimators=210; total time=   2.6s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=160; total time=   1.4s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=160; total time=   1.4s
[CV] END criterion=entropy, max_depth=15, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=160; total time=   1.4s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=35, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.005, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=160; total time=   1.3s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=160; total time=   1.4s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.015, n_estimators=160; total time=   1.3s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.015, n_estimators=10; total time=   0.0s

[CV] END criterion=entropy, max_depth=5, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=160; total time=   1.4s
[CV] END criterion=entropy, max_depth=5, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=160; total time=   1.4s
[CV] END criterion=entropy, max_depth=5, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=160; total time=   1.3s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=110; total time=   1.4s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=110; total time=   1.4s
[CV] END criterion=gini, max_depth=15, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=110; total time=   1.4s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.035, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.035, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=None, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.035, n_estimators=110; total time=   0.9s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.005, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.005, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.005, n_estimators=10; total time=   0.0s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=210; total time=   1.8s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=210; total time=   1.8s
[CV] END criterion=gini, max_depth=25, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.025, n_estimators=210; total time=   1.9s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=5, max_features=sqrt, min_samples_leaf=0.025, min_samples_split=0.035, n_estimators=60; total time=   0.7s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=None, max_features=log2, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=60; total time=   0.4s
[CV] END criterion=gini, max_depth=5, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=60; total time=   0.4s
[CV] END criterion=gini, max_depth=5, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=5, max_features=sqrt, min_samples_leaf=0.035, min_samples_split=0.005, n_estimators=60; total time=   0.4s
[CV] END criterion=gini, max_depth=35, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.015, n_estimators=60; total time=   0.7s
[CV] END criterion=gini, max_depth=35, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.015, n_estimators=60; total time=   0.7s
[CV] END criterion=gini, max_depth=35, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.015, n_estimators=60; total time=   0.6s
[CV] END criterion=entropy, max_depth=15, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.015, n_estimators=210; total time=   2.6s
[CV] END criterion=entropy, max_depth=15, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.015, n_estimators=210; total time=   3.0s
[CV] END criterion=entropy, max_depth=15, max_features=sqrt, min_samples_leaf=0.015, min_samples_split=0.015, n_estimators=210; total time=   2.7s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=160; total time=   2.5s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=160; total time=   2.4s
[CV] END criterion=entropy, max_depth=25, max_features=sqrt, min_samples_leaf=0.005, min_samples_split=0.015, n_estimators=160; total time=   2.4s
[CV] END criterion=gini, max_depth=25, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=60; total time=   0.6s
[CV] END criterion=gini, max_depth=25, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=60; total time=   0.5s
[CV] END criterion=gini, max_depth=25, max_features=log2, min_samples_leaf=0.025, min_samples_split=0.025, n_estimators=60; total time=   0.5s

RandomizedSearchCV(cv=3,
                   estimator=RandomForestClassifier(class_weight='balanced'),
                   n_iter=50,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 15, 25, 35, None],
                                        'max_features': ['sqrt', 'log2'],
                                        'min_samples_leaf': [0.005, 0.015,
                                                             0.025, 0.035],
                                        'min_samples_split': [0.005, 0.015,
                                                              0.025, 0.035],
                                        'n_estimators': [10, 60, 110, 160,
                                                         210]},
                   return_train_score=True, verbose=2)

In [53]:
model_rf.best_params_

{'n_estimators': 160,
 'min_samples_split': 0.015,
 'min_samples_leaf': 0.005,
 'max_features': 'sqrt',
 'max_depth': 25,
 'criterion': 'entropy'}

In [54]:
# importing random forest classifier from assemble module
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
model3 = RandomForestClassifier(class_weight='balanced',
                                      criterion='gini',
                                      max_depth=25,
                                      max_features='sqrt',
                                      min_samples_leaf=0.005,
                                      min_samples_split=0.005,
                                      n_estimators=10) 
 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
model3.fit(X_train, y_train)
 
# performing predictions on the test dataset
y_pred1 = model3.predict(X_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE RF(tuned) MODEL: ", metrics.accuracy_score(y_test, y_pred1))

ACCURACY OF THE RF(tuned) MODEL:  0.7212668959449732

In [55]:
df_rf = pd.DataFrame({'Feature Names':X.columns, 'Importances':model3.feature_importances_})
df_rf.sort_values("Importances", ascending=False)

                    Feature Names  Importances
3                           ap_hi     0.435799
4                           ap_lo     0.266267
0                             age     0.106469
7              cholesterol_Normal     0.083511
5                             BMI     0.031927
8   cholesterol_Well Above Normal     0.027582
2                          weight     0.019266
10                    gluc_Normal     0.010017
19                     active_Yes     0.003366
1                          height     0.003273
18                      active_No     0.003251
6        cholesterol_Above Normal     0.002910
11         gluc_Well Above Normal     0.002458
12                  gender_Female     0.001001
15                      smoke_Yes     0.000883
13                    gender_Male     0.000649
14                       smoke_No     0.000571
16                        alco_No     0.000483
17                       alco_Yes     0.000187
9               gluc_Above Normal     0.000130

# Gradient Boosting Algorithm

In [56]:
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
gbc.fit(X_train, y_train)
y_train_pred = gbc.predict(X_train)
print(metrics.accuracy_score(y_train, y_train_pred))
y_test_pred=gbc.predict(X_test)
print(metrics.accuracy_score(y_test, y_test_pred))

0.7344584191477875
0.726705590658242

In [57]:
model_gbm = GradientBoostingClassifier(n_estimators=5000,
                                       learning_rate=0.05,
                                       max_depth=3,
                                       subsample=0.5,
                                       validation_fraction=0.1,
                                       n_iter_no_change=20,
                                       max_features='log2',
                                       verbose=1)
model_gbm.fit(X_train, y_train)

      Iter       Train Loss      OOB Improve   Remaining Time
         1           1.3724           0.0134            1.16m
         2           1.3510           0.0208            1.08m
         3           1.3333           0.0179            1.02m
         4           1.3171           0.0165           59.76s
         5           1.3052           0.0111           58.75s
         6           1.2900           0.0138           58.91s
         7           1.2847           0.0093           58.30s
         8           1.2697           0.0108           57.82s
         9           1.2635           0.0079           59.67s
        10           1.2536           0.0079           58.19s
        20           1.2012           0.0040           55.84s
        30           1.1655           0.0035           54.82s
        40           1.1400           0.0017           54.13s
        50           1.1279           0.0011           53.68s
        60           1.1119           0.0010           53.34s
        70           1.1053           0.0008           52.86s
        80           1.1084           0.0003           52.47s
        90           1.1037           0.0004           52.14s
       100           1.1006          -0.0000           52.01s
       200           1.0879          -0.0001           49.78s
       300           1.0792          -0.0000           50.01s
       400           1.0727          -0.0000           48.39s

GradientBoostingClassifier(learning_rate=0.05, max_features='log2',
                           n_estimators=5000, n_iter_no_change=20,
                           subsample=0.5, verbose=1)

In [58]:
y_train_predictions = model_gbm.predict_proba(X_train)[:,1]
y_test_predictions = model_gbm.predict_proba(X_test)[:,1]

In [59]:
from sklearn.metrics import roc_auc_score
print("AUC Train: {:.4f}\nAUC Test: {:.4f}".format(roc_auc_score(y_train, y_train_pred),
                                                    roc_auc_score(y_test, y_test_predictions)))

AUC Train: 0.7339
AUC Test: 0.7950

In [60]:
df_gbm = pd.DataFrame({'Feature Names':X.columns, 'Importances':model_gbm.feature_importances_})
df_gbm.sort_values("Importances", ascending=False)

                    Feature Names  Importances
3                           ap_hi     0.455228
4                           ap_lo     0.199739
0                             age     0.144231
8   cholesterol_Well Above Normal     0.056186
7              cholesterol_Normal     0.039128
5                             BMI     0.032821
2                          weight     0.028313
1                          height     0.011079
18                      active_No     0.005335
11         gluc_Well Above Normal     0.004535
10                    gluc_Normal     0.004449
19                     active_Yes     0.004039
6        cholesterol_Above Normal     0.003030
17                       alco_Yes     0.002148
16                        alco_No     0.002035
9               gluc_Above Normal     0.001937
14                       smoke_No     0.001726
13                    gender_Male     0.001525
15                      smoke_Yes     0.001258
12                  gender_Female     0.001258